<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% if show %}
<h2>Welcome to the survey corps!</h2>
<p>
   You'll be asked a series of simple questions, and we'll be recording
   your answers.  You're data is confidential and will not be traced back to you
   Please press the button below to begin
</p>
<a href='{{url_for('questions', n=0)}}'>Click to begin</a>
{% endif %}
{% block section %}
{% endblock %}

{% block content %}
{% endblock %}
</body>
</html>