<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Currency Exchange</title>
</head>
<body>
    <div class='container-fluid'>
        <form class='form-group' method='POST'>
            <div class='jumbotron'>

            <label for='currentCurr'>Enter your current currency:</label>
            <input type='text' class='form-control' name='currentCurrency' id='currentCurr' placeholder='Enter Current Currency'>
            <label for='CurrencyToConv'>Enter the currency you wish to have:</label>
            <input type='text' class='form-control' name='endingCurrency' id='convertCurrTo' placeholder='Enter Currency You Want'>
            <label for='amountToConvert'>Enter a total amount you'd like</label>
            <input type='text' class='form-control' name='amtToConvert' id='amount' placeholder='Enter the amount you want converted'>
            
            
            <button class='btn-primary'>Submit Query</button>
            </div>
        </form>
    </div>
    
    {% for messages in get_flashed_messages() %}
        <div class="alert alert-danger">
          <h2>{{messages}}</h2>
        </div>
    {% endfor %}
    
    <div>
        <div>
            {% if currency_converted %}
            <h1>Your Converted Currency is: {{curr_symbol}} {{currency_converted}}</h1>
            {% endif %}
        </div>
    </div>

</body>
</html>