<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% if user %}
        <h4>Current name: {{user.first_name}} {{user.last_name}}</h4>
        <h4>Current Image URL: {% if user.image_url %} 
                               {{image_url}} 
                               {% else %}
                               <p>No image url set</p>
                               {% endif %}
        </h4>
        {% endif %}
    </div>
    <p>Here we have a Jinja template that works if we have user data to edit their info</p>
    <form method='POST'>
        <label for='name'>New first name:</label>
        <input type='text' name='firstname'>
        <label for='name'>New last name:</label>
        <input type='text' name='lastname'>
        <label for='name'>New image url:</label>
        <input type='text' name='image'>
        <button type='submit'>Submit</button>
    </form>
    <br />
        <a href='/users'>Cancel</a>
</body>
</html>