<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user %}
    <h2>Make a new blog post!</h2>

    <form method='POST'>
    <label>Blog Title</label>
    <input type='text' name='title'>
    <label>Blog Content</label>
    <input type='text' name='content'>
    {% if tags %}
            <label for='tags'>Tags:</label>
            {% for t in tags %}
            <input type='checkbox' name='tag{{tags.index(t)}}' value={{t.name}}>
            <label for='tag{{tags.index(t)}}' name='tags'>{{t.name}}</label>
            {% endfor %}
        {% endif %}
    <button type='submit'>Submit</button>
    </form>

    {% endif %}
    <br />
    <a href='/users'>Cancel</a>
</body>
</html>