<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user %}
    <div>
        <h3>Hello {{user.first_name}}</h3>
    <ul>
      <li>First Name: {{user.first_name}}</li>
      <li>Last Name: {{user.last_name}}</li>
      <li>Current Picture: <br /><img src='{{user.image_url}}' style='height:150px;width:150px'></li>
    </ul>
    {% endif %}
    </div>
    <!-- Posts go down here if user has any! -->

    <a href='/edit/{{user.user_id}}'>Edit User Info</a>
    <a href='/info/{{user.user_id}}/add'>Add User Post</a>
    <a href='/info/{{user.user_id}}/posts'>User Posts</a>
</body>
</html>