<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#" />
    <!-- not sure why favico was being called ^-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Boggle</title>
</head>
<body class='jumbotron'>

{% if boggle_game %}
<div class='card'>
    <div class='card-body text-center'>
        <h2 class='card-title'>Boogle Board</h2>
        <table class='table'>
        {% for letter in boggle_game %}
            <tr>
            {% for inside_letter in letter %}
             <td>{{inside_letter}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endif %}
<br />

<div class='card d-none' id='restartArea'>
    <div class='card-body'>
        <div class='card-title'>
            <button class='btn btn-primary btn-block' id='restart'>Click to Restart</button>
        </div>
    </div>
</div>

<div class='card'>
    <div class='card-body'>
        <h1>Current High Score:<span id='TEST'>0</span></h1>
    </div>
</div>

<div id='GameArea'>
    
    <div class='card' id='timeDisplay'>
        <div class='card-body'>
        <h1>Timer: <p id='timeLeft'></p></h1>
    </div>

    <br />

    <div class='card'>
      <div class='card-body'>
        <form class='form' id='wordguess' method='POST'>
          <label for='guess'>Enter your word guess:</label>
          <input type='text' name='guess' id='word' placeholder="Enter Guess" required>
          <button>Enter</button>
        </form>
      </div>
    </div>

    <div class='card' id='gameStats'>
        <div class='card-body'>
            <h2>Current Score:<span id='score'></span></h2>
            <h3>Words guessed:</h3>
            <ul class='list' id='guesslist'>
            </ul>
        </div>
    </div>

    <div class='card'>
        <div class='card-body'>
            <h2 id='wordPicked'></h2>
        </div>
    </div>

</div>

<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/form.js"></script>

</body>
</html>